---
import { testimonios } from "../utils/testimonio";
import TestimonialsCard from "./TestimonialsCard.astro";
import Title from "./Title.astro";
import Play from "../assets/svg/play.svg";

const videoId = "IpJn-rvYHA4";
const title = "Presentación de iLogs";
const thumbnail = "/image/frontmatterilogs.webp";
---

<section class=" p-5 sm:p-20">
  <div class="section-testimonials">
  <div class="testimonials mb-6 sm:mb-15">
    <Title title="Testimonios" />
  </div>
  <div class="lg:flex gap-4">
    <div
      class="testimonials w-full justify-items-center aspect-video bg-black rounded-xl overflow-hidden"
      onclick={`this.outerHTML = '<iframe class="items-center w-3xs sm:w-full h-37 sm:h-[439px] rounded-xl" src="https://www.youtube.com/embed/${videoId}?autoplay=1" title="${title}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>'`}
    >
      <img
        src={thumbnail}
        alt={`Vista previa de ${title}`}
        class="w-full h-full object-cover transition-transform duration-300 hover:scale-105"
        loading="lazy"
      />
      <div class="absolute inset-0 flex items-center justify-center">
        <div
          class="w-35 h-35 bg-center bg-no-repeat bg-contain fill-secondary opacity-45 cursor-pointer group hover:scale-115 duration-500"
        >
          <Play />
        </div>
      </div>
    </div>
    <div
      class="w-full flex flex-col justify-center gap-6 px-10 pt-6 sm:pt-0 sm:px-30"
    >
      {
        testimonios.map((testimonios) => (
          <div class="testimonials">
            <TestimonialsCard
              name={testimonios.name}
              message={testimonios.message}
              estrellas={testimonios.estrellas}
            />
          </div>
        ))
      }
    </div>
  </div>
    </div>
</section>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".testimonials", {
    opacity: 0,
    y: 100,
    stagger: 0.25,
    duration: 0.8,
    scrollTrigger: {
      trigger: ".section-testimonials",
      start: "top 50%",
    },
  });
</script>
