---
import "../styles/global.css";
import '../styles/documents.css';

import NavbarDocs from "@components/NavbarDocs.astro";

interface Props {
  title: string;
  description: string;
  tags: string[];
}

const metadata = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/icon-ilogs.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{metadata.title}</title>
    <meta name="description" content={metadata.description} />
    <meta name="keywords" content={metadata.tags.join(", ")} />
    <meta name="robots" content="index, follow" />

    <link rel="canonical" href="https://descubre.ilogs.com.mx/" />
    <!-- Open Graph Tags -->
    <meta property="og:title" content={metadata.title} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={metadata.title} />
    <meta property="og:description" content={metadata.description} />
    <meta property="og:url" content="https://descubre.ilogs.com.mx/" />
    <meta
      property="og:image"
      content="https://descubre.ilogs.com.mx/image/banner-ilogs-OG.webp"
    />
    <meta property="og:site_name" content="iLogs" />
    <meta property="og:locale" content="es_MX" />
    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={metadata.title} />
    <meta name="twitter:description" content={metadata.description} />
    <meta
      name="twitter:image"
      content="https://descubre.ilogs.com.mx/image/banner-ilogs-OG.webp"
    />
    <meta name="twitter:url" content="https://descubre.ilogs.com.mx/" />
    <meta name="twitter:site" content="@ilogsmx" />
    <meta name="twitter:creator" content="@ilogsmx" />
  </head>

  <body
    class="bg-background text-foreground font-sans"
  >
    <NavbarDocs />

    <main class="w-full mx-auto max-w-4xl my-8 px-8 lg:px-0">
      <slot />
    </main>
  </body>
</html>
